# App
PORT=3001
ENV=LOCAL

# MongoDB
MONGO_URL=mongodb://user:password@localhost:27017/red_activa?authSource=admin

# JWT
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=8h

# Logging
LOG_LEVEL=trace

# App URL (for static file URLs)
APP_URL=http://localhost:3001
